::selection {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.fullImageWrapper{
    position: absolute !important;

    height: 100%;
    width: 100%;
}

a{
    color: unset;
    text-decoration: unset;
}

.scroll-text{
    position: absolute;
    bottom: calc(20% - 48px);

    font-size: 22px;
    font-weight: 300;

    text-transform: uppercase;
    
    letter-spacing: 0.5px;
}

.icon-scroll,
.icon-scroll:before{
    position: absolute;
    left: 50%;
}

.icon-scroll{
    width: 35px;
    height: 60px;

    margin-left: -20px;
    bottom: 20%;
    margin-top: -35px;

    box-shadow: inset 0 0 0 2px #fff;

    border-radius: 25px;
}

.icon-scroll:before{
    content: '';

    width: 9px;
    height: 9px;

    background: #fff;

    margin-left: -4px;
    top: 12px;

    border-radius: 4px;

    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}

@keyframes scroll{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(32.5px);
    }
}

.fp-controlArrow{
    top: 50% !important;
    bottom: unset !important;

    border: unset !important;

    width: 52px !important;
    height: 52px !important;

    background-size: 50%;
    background-repeat: no-repeat;

    opacity: 0.8;

    transition: 0.2s;
}
.fp-controlArrow:hover{
    opacity: 1;
}
.fp-controlArrow:active{
    transform: scale(0.95);
}
.fp-controlArrow.fp-prev{
    left: 20% !important;

    background-image: url('https://transdesk.com.br/assets/img/icons/tdkcorretora_seguros_left-arrow-yellow.svg');
}
.fp-controlArrow.fp-next{
    right: 19% !important;

    background-image: url('https://transdesk.com.br/assets/img/icons/tdkcorretora_seguros_right-arrow-yellow.svg');
}
div.section.yellow .fp-controlArrow.fp-prev{
    background-image: url('https://transdesk.com.br/assets/img/icons/tdkcorretora_seguros_left-arrow-yellow.svg');
}
div.section.yellow .fp-controlArrow.fp-next{
    background-image: url('https://transdesk.com.br/assets/img/icons/tdkcorretora_seguros_right-arrow-yellow.svg');
}
div.section.white .fp-controlArrow.fp-prev{
    background-image: url('https://transdesk.com.br/assets/img/icons/tdkcorretora_seguros_left-arrow-white.svg');
}
div.section.white .fp-controlArrow.fp-next{
    background-image: url('https://transdesk.com.br/assets/img/icons/tdkcorretora_seguros_right-arrow-white.svg');
}

div.section.sobre{
    background-color: #7C7C7B;
}

div.top64px{
    margin-top: 64px;
}

.relative{
    position: relative;
}
.container{
    max-width: 1140px;
}

.container.seguro{
    max-width: 886px !important;
}

.rsc{
    position: absolute;
    bottom: 24px;
    right: 76px;
}

.rsc-float-button{
    background-color: #FFCC00;

    right: 76px !important;

    z-index: 997 !important;
}

.rsc-container{
    right: 76px !important;
}

.rsc .rsc-header{
    background-color: #FFCC00;
}

.rsc .rsc-content{
    background-color: rgb(230, 230, 230);
    margin-top: 0 !important;
}

.rsc .rsc-footer{
    background-color: rgb(255, 255, 255);
}

.rsc .rsc-ts-bubble{
    background-color: #FFCC00;
}

.rsc svg{
    fill: #7C7C7B;
}

.noneDisplay{
    opacity: 0;
}
.smoothed{
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: smooth;
}
@keyframes smooth{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}